@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    text-align: center;
    padding: 20px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  